@font-face {
    font-family: 'EuropeCondensedC';
    src: url('./fonts/europecondensedc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('./fonts/PF-Din-Text-Comp-Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('./fonts/PF-Din-Text-Cond-Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
