.appBar {
    height: 115px;
}

.logoIcon {
    height: 68px;
    position: relative;
    object-fit: cover;
}

.menu {
    flex: 1;
    flex-direction: column;
    gap: 12px;
    display: flex;
    height: 75px;
    margin-left: 24px;
}

.row {
    height: 32px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row:first-child {
    border-bottom: 1px solid var(--background-surface-separator);
}
